.heading-1 {
  position: relative;
  padding: 6rem 4rem 4rem 0;
  font-size: 6rem;
  font-weight: 500;
  color: $color-white;
  font-family: $font-secondary;
  width: 70%;
  line-height: 7rem;

  @include topBorderSmall;

  @media only screen and (max-width: 600px) {
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

.heading-2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: $font-secondary;
  color: $color-white;
  margin-right: 4rem;
}

.heading-4 {
  color: $color-violet;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 2rem;
}

.heading-6 {
  font-size: 1.5rem;
  color: $color-grey-dark;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.paragraph {
  font-family: $font-secondary;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  font-size: 1.3rem;
  width: 90%;
  margin-bottom: 5rem;
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
    width: 80%;
  }
}

.plans {
  z-index: 200;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $color-white;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  transition: all 0.4s;
  padding: 1.2rem 3rem;
  border: 2px solid $color-white;
  font-size: 1.2rem;

  &:hover {
    background-color: $color-white;
    color: $color-violet;
  }
}
